<!DOCTYPE html>
<html>
<head>
  <title>Historial de Carritos</title>
  <style>
    .cart-card {
      border: 1px solid #ccc;
      padding: 10px;
      margin: 10px;
      max-width: 300px;
    }
    .cart-id {
      font-size: 18px;
      font-weight: bold;
      margin: 5px 0;
    }
    .cart-date {
      font-size: 14px;
      color: #555;
      margin-bottom: 10px;
    }
    .consultar-cart-button {
      background-color: #009688;
      color: white;
      border: none;
      padding: 8px 16px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 4px;
    }
    body {
      font-family: Arial, sans-serif;
      padding: 20px;
    }
    h1 {
      color: #009688;
    }
  </style>
</head>
<body>
  <h1>Historial de Carritos</h1>
 <button class="btn btn-primary" onclick="volveroProducts()">Volver a Products</button>
  {{#if findCartHistory}}
    {{#each findCartHistory}}
      <div class="cart-card">
        <div class="cart-id">Carrito ID: {{cartId}}</div>
        <div class="cart-date">Fecha: {{date}}</div>
        <button class="consultar-cart-button" onclick="consultarCart('{{cartId}}')">Consultar Cart</button>
      </div>
    {{/each}}
  {{else}}
    <p>No hay carritos en el historial.</p>
  {{/if}}

  <script>
    function volveroProducts() {
      window.location.href = '/products';
    }
    function consultarCart(cartId) {
      window.location.href = `http://localhost:8080/api/carts/${cartId}/?historycart=true`;
       
    }
  </script>
</body>
</html>
